html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.wrapper {
  min-width: 1200px;
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

.hl_home {
  overflow: hidden;
  max-height: 800px;
  height: 100vh;
  display: flex;
  background: url("/images/bg_99.svg") center no-repeat;
  background-size: cover;
}

.container__text_info {
  width: 830px;
  min-width: 830px;
  margin: 50px auto;
}

.text_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ti_tl {
  color: #fff;
}

.tx_info {
  display: flex;
  align-items: center;
  color: #fff;
}

.tx_info p {
  margin-left: 10px;
}

.dws {
  position: absolute;
  top: 475px;
  right: 150px;
}

.pulse {
  width: 90px;
  height: 90px;
  color: #fff;
  text-align: center;
  background: #ffc84a;
  border-radius: 50%;
  position: relative;
}

.phone {
  position: absolute;
  font-size: 50px;
  text-align: center;
  width: 90px;
  height: 90px;
  line-height: 94px;
  animation: phone .9s ease-in-out infinite;
}

.text {
  position: absolute;
  //text-transform: uppercase;
  font-weight: 700;
  top: 28px;
  font-size: 15px;
  transform: scaleX(-1);
  transition: .5s ease-in-out;
  opacity: 0;
  color: black;
}

.phone img {
  transition: .5s ease-in-out;
}

.pulse:hover img {
  transition: .5s ease-in-out;
  transform: scale(0);
}

.pulse:hover .text {
  transform: scaleX(1);
  transition: .5s ease-in-out;
  opacity: 1;
}

.pulse:hover::before,
.pulse:hover::after {
  content: '';
  position: absolute;
  border: 2px solid #ffc84a;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0;
}

.pulse:hover::after {
  animation-delay: .5s;
}

@keyframes phone {
  0%, 100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(21deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.hm_helmet {
  display: flex;
}

.hm_1 {
  display: flex;
  width: 100%;
  height: 60px;
  flex: 0 1 calc(88% - 30px * 3 / 4);
}

.logo_2 {
  padding-left: 47px;
}

.hm_number {
  padding-top: 5px;
  display: flex;
}

.hm_number img {
  padding-top: 12px;
}

.hm_number p {
  text-decoration: underline;
  padding-left: 10px;
}

.hm_info {
  display: flex;
}

.hm_info a img {
  margin-top: -7px;
}

.hm_info a {
  color: black;
  margin: 19px 0 0 10px;
}

.hm_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  padding-left: 37px;
}

.hm_block, .hm_block2, .hm_block3 {
  width: 82px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.hm_block:hover, .hm_block2:hover, .hm_block3:hover {
  background: #ffc84a;
  text-decoration: underline;
  color: #fff;
}

.hm_block p, .hm_block2 p, .hm_block3 p {
  padding-top: 5px;
}

.call-header {
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 139px;
  border-radius: 20px;
  background-color: #ffffff;
}

.direction {
  display: flex;
  width: 100%;
  height: 288px;
}

.our-direction {
  text-align: center;
  font-size: 24px;
  padding: 50px 0 50px 0;
  margin: 0;
}

.title-direction {
  font-size: 18px;
  margin: 0;
}

.block-direction {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 95%;
}

.blockp {
  opacity: 0.95;
  line-height: 1.25;
}

.block-dr {
  line-height: 1.30;
  font-size: 14px;
  text-align: center;
  padding-right: 30px;
}



.block-dr:nth-child(1), .block-dr:nth-child(2), .block-dr:nth-child(3) {
  border-right: 3px solid rgba(255, 200, 74, 0.51);
  padding-left: 7px;
}



.carpark {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  background: #ffc84a;
  margin-top: 50px;
  height: 210px;
}

.title {
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

.carpark_two {
  display: flex;
  flex-wrap: wrap;
  background: #ffc84a;
}

.car-park_border {
  width: 960px;
}

.car-park_title {
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  height: 77px;
}

.cr_title {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}

.title1 {
  margin: 0 79px 0 140px;
}

.container__cr_grad {
  width: 1340px;
}

.cr_grad {
  height: 305px;
  display: flex;
  justify-content: space-between;
  background: #ffc84a;
}

.cr_block {
  width: 55%;
  position: relative;
  height: 500px;
}

.cr_block img {
  position: absolute;
}

.cr_bl img {
  max-width: 100%;
  width: 296px;
  position: absolute;
  left: 200px;
  top: 40px;
}

.car-park_foto {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.cr_foto1 {
  margin-left: 250px;
}

.cr_foto2 {
  margin-right: 210px;
}

.cr_grad_top, .cr_grad_bottom {
  width: 100%;
  height: 50px;
}

.car-park_text {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 104%;
  padding-top: 25px;
}

.text1, .text2 {
  color: rgba(0, 0, 0, 0.95);
  text-align: center;
  line-height: 1.43;
  margin-top: 23px;
}

.text1 b, .text2 b {
  color: black;
  font-size: 18px;
}

.rates {
  display: flex;
  padding-top: 44px;
  background: #ffc84a;
  height: 509px;
}

.tb_mn {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.table-main {
  display: flex;
  justify-content: space-between;
  margin: 0 110px 0 125px;

}

.table-menu p {
  text-align: center;
  width: 120px;
}

.cr_tb {
  display: flex;
  justify-content: flex-end;
}

.circle img {
  position: absolute;
  top: 2346px;
  right: 6px;
  min-width: 1100px;
  max-width: 100%;

}

.goods {
  display: flex;
  margin-top: 58px;
}

.tl_gd {
  text-align: center;
}

.tl_h2 {
  padding: 0 0 14px 154px;
  margin: 0;
}

.briks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
  height: 300px;
}

.brick-block:hover {
  border: 2px solid #ffc84a;
  transform: scale(1.1);
  transition: all 0.2s;
}

.goods-two {
  display: flex;
}

.briks_two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.rb_rb {
  margin-bottom: -10px;
}

.br_br_br {
  text-align: center;
}

.brick-block {
  width: 200px;
  height: 280px;
  background: #ffffff;
  border: 2px solid transparent;
}

.block-fon {
  padding: 20px 0 0 10px;
  width: 170px;
  height: 112px;
  border-radius: 10px;
  background-color: #ffffff;
}

.brick-block b {
  font-size: 18px;
  padding: 10px;
}

.block-fon p {
  font-size: 12px;
  line-height: 1.67;
}

.delivery {
  display: flex;
  background: #ffc84a;
  height: 695px;
}

.title-delivery {
  padding-top: 37px;
  text-align: center;
}

.dl_wrapper {
  display: flex;
  justify-content: space-between;
}

.dl_block h3 {
  margin-bottom: -10px;

}

.dl_block p {
  line-height: 1.5;
}

.dl_block_2 {
  text-align: center;
}

.dl_text {
  text-align: center;
}

.map {
  display: flex;
}

.map-one {
  padding: 80px 0 120px 119px;
  display: flex;
  margin-bottom: -90px;
}

.map-info {
  padding-left: 119px;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  height: 20vh;
}

.ft_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft_contacts, .ft_info {
  color: #fff;
}

.ft_info {
  line-height: 1.30;
}

.ft_info a {
  color: #fff;
}

.logo img {
  max-width: 100%;
}

.logo-menu {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 768px;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .hm_block2, .hm_block3, .hm_block {
    display: none;
  }
  .hm_list {
    justify-content: flex-start;
  }
}



