<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Доставка грузов</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link rel="stylesheet" href="style/indexmain.css">
</head>
<body class=" grid">
<div class="wrapper">
    <div class="limiter">
        <header class="header">
            <div class="container">
                <div class="helmet">
                    <div class="burger_menu">
                        <img src="/images/burger_menu.png" alt="burger">
                    </div>
                    <div class="logo">
                        <a href="#"><img src="/images/new/logo-1.svg" width="172" height="70" alt="Грузовоз"></a>
                    </div>
                    <div class="hm_list">
                        <a class="hm_block" href="#auto">
                            <p class="hm_p">Автопарк</p>
                        </a>
                        <a class="hm_block" href="#bottom">
                            <p class="hm_p">Товары</p>
                        </a>
                        <a class="hm_block" href="#top">
                            <p class="hm_p">Доставка</p>
                        </a>
                        <a href="tel:+79699876454" class="hm_block ">
                            <img class="hm_icon" src="/images/header.logo_3.jpg" width="20" height="20" alt="Телефон">
                            <span class="header_a">+7 (969) 98 76 454</span>
                        </a>
                        <div class="hm_block hm_shift">
                            <a class="header_a" href="https://vk.com/id231797271">
                                <img class="helmet_img hm_icon"
                                     src="/images/header.logo_2.png"
                                     width="20"
                                     height="20"
                                     alt="Vk">
                                Алексей&nbsp;Козак
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </header>
    </div>
    <div class="div1">
        <div class="hl_home">
            <div class="container hello_block">
                <div class="text_info">
                    <div class="ti_tl">
                        <h2 class="ti_title">Наша компания гарантирует:</h2>
                    </div>
                    <div class="tx_info">
                        <p>Качественная разгрузка и погрузка</p>
                        <p>Профессиональные водители</p>
                        <p>Выполнение работы, в удобное для вас время</p>
                        <p>Заказ и складирование вашей продукции</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="hl_car"></div>
        <div class="dws">
            <div class="pulse">
                <div class="phone"><img src="/images/phone_33.png" width="40" height="40" alt="Кнопка"></div>
                <div class="phone_text">Заказать звонок</div>
            </div>
        </div>
    </div>

    <div class="limiter">
        <div class="div2">
            <div class="container">
                <h2 class="our-direction">Преимущества</h2>
                <div class="block-direction">
                    <div class="block-dr">

                        <h3 class="title-direction">Продажа</h3>
                        <p class="blockp"> Кирпич, блоки газобетон,
                            керамзитные блоки,жби кольца, крышки и др.</p>
                        <b>От 100 &#8381;</b>
                    </div>
                    <div class="block-dr">
                        <h3 class="title-direction">Доставка</h3>
                        <p class="blockp"> Доставим любой груз
                            любого габарита,
                            по всем точкам России</p>
                        <b>От 600 &#8381;</b>
                    </div>
                    <div class="block-dr">
                        <h3 class="title-direction">Монтаж</h3>
                        <p class="blockp"> Произведём монтаж
                            металлоконструкций,
                            сэндвич панели</p>
                        <b>От 800 &#8381;</b>
                    </div>
                    <div class="block-dr">
                        <h3 class="title-direction">Перевозка</h3>
                        <p class="blockp"> Гарантируем качественную
                            погрузку,выгрузку
                            вашего товара</p>
                        <b>От 1200 &#8381;</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div3">
        <div class="container  limiter">
            <div class="carpark_main ">
                <div class="carpark">
                    <h2 class="title"><a name="auto">Автопарк</a></h2>
                    <div class="title_one">
                        <h2>Длинномер</h2>
                        <h2>Манипулятор</h2>
                    </div>
                    <div class="carpark_photo">
                        <div class="carpark_img">
                            <div class="carpark_images">
                                <img class="img" src="/images/kamaz.jpg" alt="КАМАЗ">
                            </div>
                        </div>

                        <div class="carpark_img carpark_img__mirror">
                            <div class="carpark_images">
                                <img class="img" src="/images/maz.jpg" alt="МАЗ">
                            </div>
                        </div>
                    </div>
                    <div class="carpark_text">
                        <div class="text">
                            <h3>Бортовой длинномер «Маз» <br>
                                Борт 8 тонн</h3>
                            <p>
                                Почасовая аренда с минимальной оплатой за 2 <br>
                                часа. Итоговая стоимость складывается <br>
                                индивидуально и зависит от продолжительности <br>
                                работ и веса груза…
                            </p>
                            <b>От 58,00 ₽. за км</b>
                        </div>
                        <div class="text">
                            <h3>Кран манипулятор «Маз» <br>
                                Стрела 3 тонны, борт 8 тонн</h3>
                            <p>
                                Почасовая аренда с минимальной оплатой за 2 <br>
                                часа. Итоговая стоимость складывается <br>
                                индивидуально и зависит от продолжительности <br>
                                работ и веса груза…
                            </p>
                            <b>От 1000 ₽. за час</b>
                        </div>
                    </div>
                </div>
                <div class="rates">
                    <h2 class="title-rates">Тарифы</h2>
                    <div class="tarifs">
                        <div class="table-menu">
                            <div>Борт <strong>8</strong> тонн</div>
                            <div>Борт <strong>12</strong> тонн</div>
                        </div>
                        <div class="table-menu">
                            <div>Работа мин от <strong>2</strong> часов</div>
                            <div>Работа мин от <strong>2</strong> часов</div>
                        </div>
                        <div class="table-menu">
                            <div>Цена <strong>38₽</strong> «за км по об.»</div>
                            <div>Цена <strong>38₽</strong> «за км по об.»</div>
                        </div>
                        <div class="table-menu">
                            <div>Цена <strong>40₽</strong> «за км по РФ.»</div>
                            <div>Цена <strong>40₽</strong> «за км по РФ.»</div>
                        </div>
                        <div class="table-menu">
                            <div>Стоимость часа от <strong>1000₽</strong></div>
                            <div>Стоимость часа от <strong>1000₽</strong></div>
                        </div>
                        <div class="table-menu menu-table">
                            <div>Стрела <strong>3 тонны</strong></div>
                            <div>—</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carpark_main_mobile">
            <div class="container">
                <div class="carpark">
                    <h2 class="title"><a name="auto">Автопарк</a></h2>
                    <div class="carpark_mobile">
                        <div class="carpark_auto">
                            <div class="carpark_images">
                                <h2 class="carpark_h2">Манипулятор</h2>
                                <img class="img" src="/images/maz.jpg" alt="МАЗ">

                            </div>
                            <div class="text">
                                <h3>Авто манипулятор «Маз» Стрела 3 тонны, борт 8 тонн</h3>
                                <p>
                                    Почасовая аренда с минимальной оплатой за 2
                                    часа. Итоговая стоимость складывается
                                    индивидуально и зависит от продолжительности
                                    работ и веса груза…
                                </p>
                                <p class="text_p">От 1000<span class="text_span"> &#8381</span> за час</p>
                            </div>
                        </div>

                        <div class="carpark_auto">
                            <div class="carpark_images">
                                <h2 class="carpark_h2">Длинномер</h2>
                                <img class="img" src="/images/kamaz.jpg" alt="КАМАЗ">
                            </div>
                            <div class="text">
                                <h3>Бортовой длинномер «Маз» Борт 8 тонн</h3>
                                <p>
                                    Почасовая аренда с минимальной оплатой за 2
                                    часа. Итоговая стоимость складывается
                                    индивидуально и зависит от продолжительности
                                    работ и веса груза…
                                </p>
                                <p class="text_p">От 58,00 <span class="text_span"> &#8381</span> за км</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rates_mobile">
            <div class="container">
                <h2 class="title-rates">Тарифы</h2>
                <div class="table-menu">
                    <h3 class="table_menu_h3">Длинномер</h3>
                    <h3 class="table_menu_h3">Манипулятор</h3>
                </div>
                <div class="table-menu">
                    <div>Борт12312 <b>8</b> тонн</div>
                    <div>Борт <b>12</b> тонн</div>
                </div>
                <div class="table-menu">
                    <div>Работа мин <br>
                        от <b>2</b> часов
                    </div>
                    <div>Работа мин <br>
                        от <b>2</b> часов
                    </div>
                </div>
                <div class="table-menu">
                    <div>Цена <b>38</b> ₽ <br>
                        «за км по об.»
                    </div>
                    <div>Цена <b>38</b> ₽ <br>
                        «за км по об.»
                    </div>
                </div>
                <div class="table-menu">
                    <div>Цена <b>40</b> ₽ <br>
                        «за км по РФ.»
                    </div>
                    <div>Цена <b>40</b> ₽ <br>
                        «за км по РФ.»
                    </div>
                </div>
                <div class="table-menu">
                    <div>Стоимость часа <br>
                        от <b>1000</b> ₽
                    </div>
                    <div>Стоимость часа <br>
                        от <b>1000</b> ₽
                    </div>
                </div>
                <div class="table-menu menu-table">
                    <div>Стрела <b>3</b> тонны</div>
                </div>
            </div>

        </div>
    </div>

    <div class="limiter">
        <div class="div4">
            <div class="container">
                <h2 class="goods_title">Товары</h2>
                <div class="bricks">
                    <h3 class="goods_h3">Кирпичи</h3>
                    <div class="block-w">
                        <div class="block-fon">
                            <img src="/images/brick-one.jpeg" width="157" height="100" alt="Кирпич">
                            <p> Полнотелый м-125 <br>
                                Форма: Ребристый, гладкий <br>
                                Цвет: Красный <br>
                                Цена за штуку: 10.34 ₽.</p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/brick-two.jpg" width="157" height="100" alt="Кирпич">
                            <p> Полнотелый м-150 <br>
                                Форма: Ребристый, гладкий <br>
                                Цвет: Красный <br>
                                Цена за штуку: 10.34 ₽.</p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/brick-three.jpeg" width="157" height="100" alt="Кирпич">
                            <p> Об. полуторный 1.4НФ <br>
                                Цвет: В ассортименте <br>
                                Цена за штуку: 10.34 ₽.</p>
                        </div>
                    </div>
                    <h3 class="goods_h3">Блоки</h3>
                    <div class="block-w">
                        <div class="block-fon">
                            <img src="/images/blok-one.jpg" width="125" height="100" alt="Блок">
                            <p> Керамзитные блоки<br>
                                Пустотелый <br>
                                Четырёхсекционый <br>
                                Размер: 20*20*40 <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/block-two.png" width="157" height="100" alt="Блок">
                            <p> Керамзитные блоки <br>
                                Полнотелый <br>
                                Перегородочный <br>
                                Размер: 10*20*40 <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/block-three.jpg" width="125" height="100" alt="Блок">
                            <p> Газобетонные блоки <br>
                                Также вы можете заказать <br>
                                у нас товар с заводов: <br>
                                Волжск, КЗСМ Казань </p>
                        </div>
                    </div>
                    <h3 class="goods_h3">Кольца</h3>
                    <div class="block-w">
                        <div class="block-fon">
                            <img src="/images/ring-one.jpg" width="125" height="100" alt="Кольцо">
                            <p> Диаметр 1м <br>
                                Высота: 0,90м <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>

                        <div class="block-fon">
                            <img src="/images/ring-three.jpg" width="120" height="100" alt="Кольцо">
                            <p> Диаметр 1.5м <br>
                                Высота: 0,90м <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/ring-two.png" width="100" height="99" alt="Кольцо">
                            <p> Диаметр 2м <br>
                                Высота: 0,90м <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                    </div>
                    <div class="block-w">
                        <div class="block-fon">
                            <img src="/images/ring-four.jpg" width="125" height="100" alt="Блок">
                            <p> Диаметр: в асортименте <br>
                                Высота: 30см <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/ring-five.jpg" width="120" height="100" alt="Блок">
                            <p>Диаметр: в асортименте <br>
                                Высота: 30см <br>
                                Цена за штуку: 10.34 ₽. <br></p>
                        </div>
                        <div class="block-fon">
                            <img src="/images/ring-six.jpg" width="100" height="99" alt="Блок">
                            <p> Также мы можете заказать <br>
                                у нас: доборы,люки в <br>
                                асортименте <br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bricks_text">
        <div class="bricks_text_img"></div>
        <div class="bricks_text_block">
            <h2 class="bt_title">Преимущества выбора у&nbsp;нас:</h2>
            <p class="bt_text">
                Это высокое качество, низкая цена, наличие на&nbsp;складе, большой
                ассортимент, оперативная доставка ежедневно как по&nbsp;Казани, так и
                в&nbsp;районы Татарстана, также доставка по&nbsp;РФ
            </p>
            <div class="delivery_map">


                <div class="delivery_map_info">
                    <p>
                        Уже много лет мы&nbsp;работаем на&nbsp;рынке данных
                        услуг,потому что мы&nbsp;не&nbsp;гонимся за&nbsp;огромными
                        ценами,наши услуги подходят как для частных
                        лиц,так и&nbsp;для заказов от&nbsp;других компаний
                    </p>
                </div>
                <div class="delivery_map_img">
                    <img src="/images/dl_logo.png" width="345" height="173" alt="logo">
                    <img class="logo-white" src="/images/new/logo-white.svg" alt="Logo">
                </div>

            </div>
        </div>
    </div>

    <div class="div5">
        <div class="container limiter">
            <h2 class="title-delivery">Доставка</h2>
            <div class="delivery_main ">
                <div class="delivery_text delivery_map2">
                    <h3 class="delivery_h3">Перевозки по РФ</h3>
                    <p class="delivery_p">Перевозки по РФ осуществляются только на длиномере</p>
                    <h3 class="delivery_h3">Транспортировка в пределах районов города Казань:</h3>
                    <p class="delivery_p">Приволжский, Кировский, Московский, Вахитовский, Ново-Савиновский,
                        Авиастроительный, Советский р-н, Дербышки и Горки.</p>
                    <h3 class="delivery_h3">Доставка в крупные города и районные поселки Татарстана:</h3>
                    <p class="delivery_p">Азнакаево, Альметьевск, Бавлы, Бугульма, Буинск, Елабуга, Заинск,
                        Зеленодольск, Лениногорск, Набережные Челны,
                        Нижнекамск, Нурлат, Чистополь.</p>

                </div>
                <div class="delivery_map2">
                    <h3 class="delivery_h3">Перевезти в районы Республики Татарстан:</h3>
                    <p class="delivery_p"> Агрызский, Азнакаевский, Аксубаевский, Актанышский, Алексеевский,Алькеевский,
                        Альметьевский, Апастовский, Арский, Атнинский, Бавлинский, Балтасинский,
                        Бугульминский, Буинский, Верхнеуслонский, Высокогорский, Дрожжановский, Елабужский
                        Заинский, Зеленодольский, Кайбицкий, Камско-Устьинский, Кукморский, Лаишевский,
                        Лениногорский, Мамадышский, Менделеевский, Мензелинский, Муслюмовский,Нижнекамский
                        Новошешминский, Нурлатский, Пестречинский, Рыбно-Слободский, Сабинский, Сармановский,
                        Спасский, Тетюшский, Тукаевский, Тюлячинский, Черемшанский,Чистопольский,Ютазинский</p>
                </div>
            </div>
        </div>
    </div>

    <div class="limiter">
        <div class="div6">
            <div class="container">
                <div class="map_main">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.821908196506!2d48.88249286667264!3d55.88310381784685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41595104cac3c107%3A0xda227b9109728189!2z0K7QsdC40LvQtdC50L3QsNGPINGD0LsuLCAzN9CRLCDQntGB0LjQvdC-0LLQviwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIyNTI3!5e0!3m2!1sru!2sru!4v1509087977752"
                            width="780" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="map_main_mobaile">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4475.435904200962!2d48.884019!3d55.884907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41595104cac3c107%3A0xda227b9109728189!2z0K7QsdC40LvQtdC50L3QsNGPINGD0LsuLCAzN9CRLCDQntGB0LjQvdC-0LLQviwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIyNTI3!5e0!3m2!1sru!2sru!4v1510057022661"
                            width="278"
                            height="200"
                            frameborder="0"
                            style="border:0"
                            allowfullscreen></iframe>
                </div>
                <div class="map_info">
                    <p>Адрес: Зеленадольский район, Пос.Осиново, Ул.Юбилейная 37Б <br>
                        Контакты: +79699876454 , Example@mail.ru</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer_main">
                <div class="footer_info">
                    <img src="/images/ft_logo.png" alt="logo">
                </div>
                <div class="footer_info">
                    Контакты компании: <br>
                    +79699876454
                </div>
                <div class="footer_info">
                    <a href="#"><img src="/images/ft_logo_2.png" alt="logo"></a>
                </div>
                <div class="footer_info">
                    <a href="#">Создано в веб студии: M I B </a>
                    +79656008656
                    <a href="https://vk.com/studio_mib">Мы в Вконтакте</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script async src="/js/metrika.js"></script>
</body>
</html>